
/********* Responsive ********/


@media screen and (max-width: 767px){
  header .navbar .collapse {
      width: calc(100% - 0px); 
      float: none;
      height: 100%;
      margin: 0;
  }
  header .nav>li {
      text-align: left!important;
      margin-bottom: 15px;
  }
  .inner-list-wrap {
      justify-content: start;
  }
}

@media screen and (max-width: 991px){
  
}
/********* Responsive ********/